<h2 class="page-header">Input Citizens</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Contact</label>
    <input type="text" [(ngModel)]="contact" name="contact" class="form-control">
  </div>
  <div class="form-group">
    <label>CNIC</label>
    <input type="text" [(ngModel)]="cnic" name="cnic" class="form-control">
  </div>
  <div class="form-group">
    <label>License No</label>
    <input type="text" [(ngModel)]="licenseNo" name="licenseNo" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>