<h1>E-Challan</h1>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
      <h3>Bank</h3>
      <!-- <p>To be able to use this software as Admin</p> -->
      <a class="btn btn-primary" [routerLink]="['/bank']">Bank View</a>
      <!-- <p>Admin can manage all doctors , patients and other staff</p> -->
    </div>
    <div class="col-md-6">
      <h3>Police</h3>
      <a class="btn btn-primary" [routerLink]="['/police']">Add Police user</a>
      <!-- <p>An e-online portal for doctors to manage their patients & appointments of patients</p> -->
    </div>
    <div class="col-md-6">
        <h3>Citizen</h3>
        <a class="btn btn-primary" [routerLink]="['/citizen']">Add Citizen</a>
        <!-- <p>An e-online portal for doctors to manage their patients & appointments of patients</p> -->
      </div>
</div>
</div>